<div class="topnav p-4">
	<div>
		<a href="#">
			<img
				src="/image/logo-3.png"
				alt="logo-3.png"
				class="logo text-success"
			/>
		</a>
	</div>

	<div class="topnav-link">
		<a class="text-success px-2 nav-link" href="/"> <b> Home</b></a>

		<a class="text-success px-2 nav-link" href="/about"><b>About</b></a>

		<a class="text-success px-2 nav-link" href="/contact"
			><b>Contact</b></a
		>
	</div>
</div>
