<%- include('partials/header.ejs')%>
<div
	class="container border border-secondary py-4 my-4"
	style="--bs-border-opacity: 0.75"
>
	<%- include('partials/navbar.ejs')%>
	<h1 class="py-4 text-light text-center">Page not found</h1>
</div>
<%- include('partials/footer.ejs')%>
