<%- include('partials/header.ejs')%>
<div
	class="container border border-secondary py-4 my-4 rounded-2"
	style="--bs-border-opacity: 0.75"
>
	<%- include('partials/navbar.ejs')%>
	<h3 class="py-4 text-light">About Page</h3>
</div>
<%- include('partials/footer.ejs')%>
