<%- include('partials/header.ejs')%>
<div class="container">
	<%- include('partials/navbar') %>

	<div class="container-body">
		<h1 class="text-secondary">About</h1>
	</div>
</div>
<%- include('partials/footer.ejs')%>
