<%- include('partials/header.ejs')%>
<div class="container py-4 my-4 rounded-2" style="--bs-border-opacity: 0.75">
	<%- include('partials/navbar.ejs')%>
	<hr />
	<div class="row justify-content-center">
		<div class="col-md-6 text-center py-3">
			<img
				src="/ai/profile.png"
				class="img-fluid"
				width="200px"
				height="200px"
			/>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<h3><b>Hi 👋 I'm Art Antonio</b></h3>

			<p class="py-2">
				Aspiring fullstack developer from Quezon City.
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-2 text-center">
			<button href="#" class="btn btn-primary see-my-work-btn">
				See my work
			</button>
		</div>
	</div>
	<hr />
	<div class="row my-4 g-2 justify-content-center">
		<div class="col-md-12 my-3 pt-3 pb-3 text-center">
			<h5 class="text-success">Technology Handled</h5>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/ai/jsAsset 2.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Javascript</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/node.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Node JS</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/py.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Python</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/powerbi.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Power BI</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/powerapps.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Power Apps</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/powerautomate.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Power Automate</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/sharepoint-2.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Sharepoint</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/php.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">PHP</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/codeigniter.png"
				class="img-fluid"
				width="80px"
				height="80px"
			/>
			<p class="">Codeigniter 4</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/bootstrap5.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Codeigniter 4</p>
		</div>
	</div>
	<hr />
	<div class="row my-4 g-2 justify-content-center">
		<div class="col-md-12 my-3 pt-3 pb-3 text-center">
			<h5 class="text-success">Current Learning</h5>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/ts.png"
				class="img-fluid"
				width="150px"
				height="150px"
			/>
			<p class="">TypeScript</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/react.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">React JS</p>
		</div>
		<div class="col-md-2 text-center">
			<img
				src="/image/angular.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
			<p class="">Angular</p>
		</div>
	</div>
	<hr />
</div>
<%- include('partials/footer.ejs')%>
