<%- include('partials/header.ejs')%>
<div class="container py-4 my-4 rounded-2" style="--bs-border-opacity: 0.75">
	<%- include('partials/navbar.ejs')%>
	<hr />
	<div class="row justify-content-center">
		<div class="col-md-6 text-center py-3">
			<img
				src="/ai/profile.png"
				class="img-fluid"
				width="200px"
				height="200px"
			/>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<h3><b>Hi 👋 I'm Art Antonio</b></h3>

			<p class="text-light py-2">
				Aspiring fullstack developer from Quezon City.
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-2 text-center">
			<button href="#" class="btn btn-primary see-my-work-btn">
				See my work
			</button>
		</div>
	</div>
	<hr />
	<div class="row my-4">
		<div class="col-md-12">
			<h4 class="text-success text-center">Technology Handled</h4>
		</div>
		<div class="col-md-2">
			<img
				src="/ai/jsAsset 2.png"
				class="img-fluid"
				width="100px"
				height="100px"
			/>
		</div>
	</div>

	<div class="row"></div>
	<%- include('partials/footer.ejs')%>
</div>
